SMARTLIFE_RUNTIME_CONFIGURED=no
SMARTLIFE_COMPOSE_PROJECT_NAME=smartlife
SMARTLIFE_NETWORK_MODE=lan
SMARTLIFE_LAN_ONLY=yes
SMARTLIFE_LAN_SUBNET_PREFIX=192.168.
SMARTLIFE_BIND_IP=192.168.1.100
SMARTLIFE_PUBLIC_PORT=13443
SMARTLIFE_APP_NAME=SmartLife
SMARTLIFE_APP_VERSION=0.2.3
SMARTLIFE_APP_HOST=0.0.0.0
SMARTLIFE_APP_PORT=18089
SMARTLIFE_APP_BASE_URL=http://192.168.1.100:13443
SMARTLIFE_DB_NAME=smartlife
SMARTLIFE_DB_USER=smartlife
SMARTLIFE_DB_HOST=db
SMARTLIFE_DB_PORT=5432
SMARTLIFE_PROVIDER=demo
SMARTLIFE_TUYA_BASE_URL=https://openapi.tuyaeu.com
SMARTLIFE_SYNC_INTERVAL_SECONDS=60
SMARTLIFE_BACKGROUND_SYNC_ENABLED=yes
SMARTLIFE_SYNC_ON_STARTUP=yes
SMARTLIFE_XIAOMI_REGION=cn
SMARTLIFE_XIAOMI_DEVICE_IP=
SMARTLIFE_TIMEZONE=Europe/Helsinki
